<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.oasys.mappers.bonus.BonusMapper">

	<select id="findAll" resultType="cn.gson.oasys.model.entity.bonus.Bonus">
		SELECT
		bonus_id,
		bonus_content,
		bonus_time
		FROM
		w_bonus
		ORDER BY
		bonus_id DESC
	</select>
	<insert id="add"  keyProperty="bonusId" keyColumn="bonus_id" parameterType="cn.gson.oasys.model.entity.bonus.Bonus">
		INSERT INTO
		w_bonus(bonus_content,bonus_time)
		VALUES
		(#{bonusContent},#{bonusTime})
	</insert>
	<update id="update" parameterType="cn.gson.oasys.model.entity.bonus.Bonus">
		update w_bonus
		<set>
			<if test="bonusContent != null">bonus_content=#{bonusContent},</if>
			<if test="bonusTime != null">bonus_time=#{bonusTime}</if>
		</set>
		where bonus_id=#{bonusId}
	</update>
	<delete id="remove">
		DELETE FROM
		w_bonus
		WHERE
		bonus_id=#{bonusId}
	</delete>

	<select id="findOne" resultType="cn.gson.oasys.model.entity.bonus.Bonus">
		SELECT
		bonus_id,
		bonus_content,
		bonus_time
		FROM
		w_bonus
		WHERE
		bonus_id=#{bonusId}
	</select>
</mapper>